body {
    background-color: black;
    margin: 0;
    background-image: linear-gradient(rgba(167, 167, 167, 0.5), rgba(0, 0, 0, 0.5)), url("kuvat/tausta.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    background: linear-gradient(rgb(0, 0, 0), rgb(53, 53, 53));
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}

a {
    text-decoration: none;
    font-size: 150%;
    color: white;
}

a:hover {
    color: rgb(156, 156, 156);
}

a:active {
    color: rgb(106, 106, 106);
}

h3 {
    font-size: 400%;
    padding: 0 0;
    margin: 0 0;
    color: white;
    -webkit-text-stroke: 3px rgb(0, 0, 0);
}

h1 {
    color: white;
    font-size: 400%;
    text-align: center;
    margin-top: 14%;
}

h2 {
    color: white;
    font-size: 200%;
    text-align: center;
}

h4 {
    color: white;
    text-align: center;
    font-size: 200%;
}

#pelaaNappi {
    font-size: 150%;
    padding: 0.5% 2%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);

    color: white;
    background-color: black;
    border: none;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;

    transition: background-color 0.3s ease-in-out;
       
}

#pelaaNappi:hover {
    background-color: rgb(55, 55, 55);
}

#buttonWrap {
    position: absolute;
    text-align: center;
}